.carrito{
    width: 90vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    background-color: #000;
    left: 100%;
    overflow: auto;
}
@media (max-width: 330px) {
    .carrito{
        width: 100vw;
    }
}
@media (min-width: 576px) {
    .carrito{
        width: 65vw;
    }
}
@media (min-width: 768px) {
    .carrito{
        width: 50vw;
    }
}
@media (min-width: 1200px) {
    .carrito{
        width: 35vw;
    }
}

.cerrar{
    display: block;
    overflow: hidden;
    width: 100%;
    img{
        max-width: 35px;
        float: right;
    }
}
.carrito-item{
    position: relative;
    overflow: hidden;
}
.eliminar-item{
    background: transparent;
    position: absolute;
    z-index: 10;
    max-width: 35px;
    background-color: #000;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    img{
        width: 35px;
    }
    left: 100%;
    opacity: 0.7;
}