@use "generales";
.resaltadoFooter{
    color: #fff;
    font-weight: bold;
}
.textoFooter{
    color: #fff;
    font-weight: lighter;
}
.metodos{
    max-width: 210px;
}
.iconoSocial{
    display: inline-flex;
    border-radius: 50%;
    min-width: 40px;
    height: 40px;
    background-color: #fff;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    color: #000;
    opacity: 0.8;
    margin-right: 15px;
    transition-property: color, opacity;
    transition-duration: generales.$transition;
    &:hover{
        color: #000;
        opacity: 1;
    }
}
.linea-vertical-copyright{
    background-color: #fff;
    display: inline-block;
    height: 30px;
    width: 2px;
    margin-right: 5px;
}
@media (min-width: 468px) {
    .footer-item-none{
        display: none !important;
    }
    .footer-item-block{
        display: block !important;
    }
}