@use "generales";
.texto-oferta{
    flex-basis: 70%;
}
.moneda{
    flex-basis: 30%;
    max-width: 80px;
}
.ofertas-item{
    border-radius: 6px;
    overflow: hidden;
    padding: 10px;
    background-color: #000;
    max-width: 500px;
    margin: auto;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
}
.oferta-seleccionada{
    background-color: inherit;
    color: #000;
    font-weight: 400;
    border: 2px solid #000;
}
.logo-juego{
    max-width: 500px;
    margin: auto;
}